.box {
  width: 1280px;
  border: 1px solid black;

  .section1 {
    background: #f3f3f3;

    .user_list {
      .s1_left {
        float: left;
        padding: 5px 15px;
        font-size: 14px;
        border: 1px solid rgb(121, 121, 121);
        background: white;
        position: relative;
        .hover1 {
          position: absolute;
          left: 0;
          bottom: -130;
          width: 250px;
          height: 130px;
          border: 1px solid #ccc;
          background: white;
          text-align: center;
          display: none;
          p {
            border: 1px solid black;
            height: 90px;
            line-height: 90px;
          }
          span {
            display: block;
            width: 50%;
            height: 40px;
            line-height: 40px;
            border: 1px solid black;
            box-sizing: border-box;
            background: rgb(255, 164, 112);
          }
        }
      }
      .s1_left:hover .hover1 {
        display: block;
      }
      .s1_right {
        float: right;
        //   height: 30px;
        //   line-height: 30px;
        .ul1 {
          .li1 {
            float: left;
            //   padding: 5px 17px;
            position: relative;
            font-size: 14px;
            .a1 {
              display: block;
              padding: 5px 17px;
              color: rgb(95, 95, 95);
            }
            .hover2 {
              width: 200px;
              height: 100px;
              border: 1px solid #ccc;
              background: white;
              position: absolute;
              right: 0;
              display: none;
              a {
                font-size: 14px;
                display: block;
                padding: 15px 10px;
                width: 50%;
                box-sizing: border-box;
                float: left;
                //   border: 1px solid black;
              }
              a:hover {
                color: blue;
              }
            }
            .hover3 {
              width: 100%;
              height: 180px;
              border: 1px solid #ccc;
              background: white;
              position: absolute;
              padding: 10px;
              box-sizing: border-box;
              text-align: center;
              display: none;
              img {
                width: 100%;
              }
            }
            .hover4 {
              width: 200px;
              height: 130px;
              border: 1px solid #ccc;
              background: white;
              display: none;
              position: absolute;
              right: 0;
              a {
                display: block;
                padding: 10px 15px;
                float: left;
              }
              a:hover {
                color: blue;
              }
            }
          }
          .li4:hover .hover4 {
            display: block;
          }
          .li3:hover .hover3 {
            display: block;
          }
          .li2:hover .hover2 {
            display: block;
          }
          .li1:hover .a1 {
            color: blue;
          }
          .li1:after {
            content: "";
            display: block;
            width: 1px;
            height: 20px;
            background: rgb(136, 136, 136);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
          .li1:last-child:after {
            display: none;
          }
        }
      }
    }
  }

  .section2 {
    .topimg {
      height: 100px;
      // border: 1px solid black;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .banner {
      height: 130px;

      // border: 1px solid black;
      .b1 {
        float: left;
        height: 100%;
        h1 {
          width: 230px;
          height: 100px;
          // border: 1px solid black;
          text-indent: -999px;
          background: url(./images/logo.png) no-repeat center center;
        }
        p {
          height: 30px;
          font-size: 12px;
          line-height: 30px;
        }
      }
      .b2 {
        margin-top: 40px;
        margin-left: 50px;
        float: left;
        input {
          border: 2px solid blue;
          width: 500px;
          height: 40px;
          font-size: 20px;
        }
        span {
          display: block;
          width: 100px;
          height: 40px;
          background: blue;
          color: white;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
          user-select: none;
        }
        ul {
          li {
            float: left;
            padding: 1px 8px;
            font-size: 14px;
            a:hover {
              color: blue;
            }
          }
        }
      }

      .b3 {
        float: left;
        margin-top: 40px;
        margin-left: 40px;

        .b3_b {
          background: skyblue;
          float: left;
          text-align: center;
          font-size: 12px;
          width: 60px;
          height: 40px;
          img {
            display: inline-block;
            margin-top: 5px;
          }
        }
        h3 {
          width: 150px;
          height: 40px;
          background: blue;
          float: left;
          color: white;
          text-align: center;
          line-height: 40px;
        }
      }
    }
  }

  .section3 {
    .se3_top {
      h2 {
        width: 180px;
        padding: 15px 0;
        background: blue;
        float: left;
        color: white;
        text-align: center;
        // line-height: 45px;
      }
      ul {
        li {
          float: left;
          padding: 15px 29px;
          position: relative;

          a:hover {
            color: blue;
          }
        }
        li:first-child a {
          color: blue;
        }

        li::after {
          content: "";
          display: block;
          width: 1px;
          height: 10px;
          background: black;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        li:last-child:after {
          display: none;
        }
      }
      p {
        width: 230px;
        float: right;
        padding: 15px 0px;
        text-align: center;
        background: url(./images/phoneicon.png) no-repeat left center;
        font-size: 16px;
      }
    }
    .se3_box {
      border: 2px solid blue;
      .context {
        position: relative;
        // border: 2px solid blue;
        box-sizing: border-box;
        .img_left {
          width: 180px;
          height: 430px;
          float: left;
          // border: 1px solid black;
          box-sizing: border-box;

          ul {
            height: 100%;
            display: flex;
            flex-direction: column;

            li {
              height: 47.5px;
              // border: 1px solid black;
              background: #4496ee;
              line-height: 47.5px;
              text-align: center;
              position: relative;

              a {
                color: white;
              }
              span {
                display: block;
                width: 20px;
                height: 20px;
                // border: 1px solid black;
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
              }
            }
            li:hover {
              background: white;
            }

            li:hover a {
              color: blue;
            }
            li:first-child span {
              background: url(./images/iconBase.png);
              background-position: -58px -32px;
            }
            li:nth-child(2) span {
              background: url(./images/iconBase.png);
              background-position: -58px -62px;
            }
            li:nth-child(3) span {
              background: url(./images/iconBase.png);
              background-position: -58px -93px;
            }
            li:nth-child(4) span {
              background: url(./images/iconBase.png);
              background-position: -58px -132px;
            }
            li:nth-child(5) span {
              background: url(./images/iconBase.png);
              background-position: -58px -171px;
            }
            li:nth-child(6) span {
              background: url(./images/iconBase.png);
              background-position: -58px -213px;
            }
            li:nth-child(7) span {
              background: url(./images/iconBase.png);
              background-position: -58px -264px;
            }
            li:nth-child(8) span {
              background: url(./images/iconBase.png);
              background-position: -58px -315px;
            }
            li:nth-child(9) span {
              background: url(./images/iconBase.png);
              background-position: -58px -366px;
            }
            li:hover span {
              background-position-x: -94px;
            }

            // li:before {
            //   content: "";
            //   display: block;
            //   width: 20px;
            //   height: 20px;
            //   border: 1px solid black;
            //   position: absolute;
            //   top: 50%;
            //   left: 10%;
            //   transform: translateY(-50%);
            // }
          }
        }
        .list_context {
          width: 1000px;
          height: 430px;
          // border: 1px solid black;
          background: white;
          position: absolute;
          z-index: 1;
          right: 0;
          display: none;
          box-sizing: border-box;
          .li_left {
            width: 748px;
            height: 100%;
            float: left;
            // border: 1px solid black;
            display: none;

            // background: black;
            box-sizing: border-box;
            .mode {
              padding: 15px 20px;
              p {
                color: green;
                font-weight: bold;
              }
              dl {
                width: 680px;
                border-bottom: 1px solid black;
                padding: 5px 0 20px 0;
                dd {
                  float: left;
                  padding-right: 10px;
                  border-right: 1px solid black;
                  margin-top: 10px;
                  margin-right: 10px;
                  font-size: 13px;
                }
                dd:last-child {
                  border-right: none;
                }
              }
            }
            .mode2_flex {
              padding: 10px 30px 10px 10px;
              height: 100%;

              box-sizing: border-box;
              // display: flex;

              .mode2 {
                float: left;
                width: 215px;
                margin-right: 20px;
                margin-bottom: 10px;
                // border: 1px solid black;

                p {
                  color: green;
                  font-size: 14px;
                  font-weight: bold;
                  margin-bottom: 6px;
                }
                dl {
                  // border: 1px solid black;

                  dd {
                    float: left;
                    margin-right: 5px;
                    padding-right: 5px;
                    border-right: 1px solid black;
                    margin-top: 5px;
                    font-size: 12px;
                  }
                  dd:last-child {
                    border-right: none;
                  }
                }
              }
            }
          }
          .li_right {
            float: right;
            // box-sizing: border-box;
            .imr {
              div {
                width: 250px;
                height: 50%;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
              }
            }
          }
        }
        .se3_img {
          width: 760px;
          height: 430px;
          float: left;
          position: relative;
          // z-index: -3;
          img {
            position: absolute;
            z-index: -2;
            transition: all 2s;
            opacity: 0;
          }
          ul {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            // z-index: -1;
            li {
              float: left;
              width: 20px;
              height: 20px;
              background: #ccc;
              border-radius: 50%;
              margin: 0 10px;
              transition: all 1s;
              cursor: pointer;
            }
          }
        }
        .img_right {
          width: 240px;
          height: 430px;
          float: left;
          box-sizing: border-box;

          // border: 1px solid black;
          // background: skyblue;
          .imgr_center {
            width: 230px;
            margin: 0 auto;
            .top_char {
              margin-top: 10px;
              height: 40px;
              // background-color: #ccc;
              border-radius: 25px;
              line-height: 40px;
              text-align: center;
              background: url(./images/icon3.png) no-repeat 3% center #ccc;
              span {
                font-weight: bold;
                font-size: 20px;
              }
            }
            img {
              text-align: center;
              width: 100%;
            }
            .bottom_img {
              height: 114px;
              // background-color: #ccc;
              ul {
                display: flex;
                border-bottom: 1px solid #ccc;
                li {
                  padding: 3px 0;
                  height: 30px;
                  margin-right: 15px;
                  font-size: 15px;
                  font-weight: bold;
                  box-sizing: border-box;
                  // border-bottom: 3px solid blue;
                }
              }
              .ul_context {
                height: 84px;
                // background-color: green;
                p {
                  font-size: 14px;
                  line-height: 25px;
                }
                .flex1 {
                  height: 100%;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  dl {
                    dt {
                      margin: 0 auto;
                      width: 41px;
                      height: 41px;
                      background: url(./images/serIcoB.png) no-repeat;
                    }
                    dd {
                      margin-top: 5px;
                      font-size: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section4 {
    .se4_box {
      height: 240px;
      background: url(./images/dailyBg.jpg) no-repeat;
      .se4_left {
        width: 190px;
        text-align: center;
        padding-top: 50px;
        p {
          font-size: 22px;
          color: skyblue;
          font-weight: bold;
        }
        h3 {
          font-size: 12px;
          color: rgb(82, 179, 218);
          padding: 10px 0;
        }
        .times {
          display: flex;
          justify-content: center;
          align-items: center;
          div {
            width: 30px;
            height: 40px;
            background: white;
            line-height: 40px;
          }
          span {
            padding: 0 5px;
          }
        }
      }
    }
    .topimg {
      height: 100px;
      // border: 1px solid black;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .se4_context {
      height: 210px;
      margin-bottom: 20px;

      h2 {
        margin-top: 13px;
        width: 120px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        background: url(./images/iconHome.png) no-repeat;
        background-position: 0px -184px;
      }
      .se4_img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }

  .section5 {
    margin-top: 20px;
    .se5_one {
      // margin: 10px 0;
      // background: skyblue;
      border-bottom: 1px solid black;
      margin-top: 10px;
      .first {
        float: left;
        width: 250px;
        height: 265px;
        background: white;
        overflow: hidden;
        padding: 10px;
        box-sizing: border-box;
        cursor: pointer;
        border-right: 1px solid black;
        p {
          font-size: 18px;
          font-weight: bold;
          margin: 6px 0;
        }
        h3 {
          font-size: 14px;
          color: red;
          margin-bottom: 8px;
        }
        div {
          width: 200px;
          height: 180px;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .first_right {
        float: left;

        width: 930px;
        height: 270px;

        .fr_list {
          width: 310px;
          height: 125px;
          background: white;
          padding: 10px 0;
          position: relative;
          float: left;
          cursor: pointer;
          border-right: 1px solid black;
          box-sizing: border-box;
          margin: 3px 0;
          .fr_text {
            width: 200px;
            height: 110px;
            // background: green;
            float: left;
            padding: 10px;
            box-sizing: border-box;

            h3 {
              font-size: 13px;
              padding: 6px 0;
              color: red;
            }
          }
          div {
            width: 105px;
            float: left;
            height: 105px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .fr_list:hover img {
          position: relative;
          right: 10px;
        }
      }
    }
  }

  .section6 {
    .se6_left {
      width: 360px;
      height: 580px;
      // border: 1px solid black;
      box-sizing: border-box;

      float: left;
      h2 {
        width: 100px;
        height: 40px;
        background: orange;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        color: white;
      }
      .se6_img {
        width: 360px;
        height: 220px;
        position: relative; //下面的浮起来了所以想要隐藏，父元素也要浮起来
        overflow: hidden;
        .loop_border {
          position: absolute;
          white-space: nowrap;
          font-size: 0;

          img {
            display: inline-block;
          }
        }
      }
      .se6_context {
        ul {
          width: 180px;
          height: 100px;
          padding: 10px;
          box-sizing: border-box;
          float: left;
          border-right: 1px solid #ccc;
          li {
            text-align: center;
            float: left;
            width: 50%;
            height: 30px;
            line-height: 30px;
          }
        }
      }
      .se6_icon {
        ul {
          padding-top: 20px;
          width: 180px;
          height: 220px;
          background: orange;
          float: left;
          border-right: 1px solid #ccc;
          box-sizing: border-box;

          li {
            float: left;

            margin: 10px 4px;
            img {
              width: 80px;
            }
          }
        }
      }
    }

    .se6_right {
      width: 820px;
      height: 580px;
      background: skyblue;
      float: left;
    }
  }
}

.center {
  width: 1180px;
  border: 1px solid orange;
  margin: 0 auto;
}
