.box {
  width: 1280px;
  border: 1px solid black;
}

.box .section1 {
  background: #ccc;
}

.box .section1 .user_list .s1_left {
  float: left;
  padding: 5px 15px;
  font-size: 14px;
  border: 1px solid #797979;
  background: white;
  position: relative;
}

.box .section1 .user_list .s1_left .hover1 {
  position: absolute;
  left: 0;
  bottom: -130;
  width: 250px;
  height: 130px;
  border: 1px solid #ccc;
  background: white;
  text-align: center;
  display: none;
}

.box .section1 .user_list .s1_left .hover1 p {
  border: 1px solid black;
  height: 90px;
  line-height: 90px;
}

.box .section1 .user_list .s1_left .hover1 span {
  display: block;
  width: 50%;
  height: 40px;
  line-height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  background: #ffa470;
}

.box .section1 .user_list .s1_left:hover .hover1 {
  display: block;
}

.box .section1 .user_list .s1_right {
  float: right;
}

.box .section1 .user_list .s1_right .ul1 .li1 {
  float: left;
  position: relative;
}

.box .section1 .user_list .s1_right .ul1 .li1 .a1 {
  display: block;
  padding: 5px 17px;
  color: #5f5f5f;
}

.box .section1 .user_list .s1_right .ul1 .li1 .hover2 {
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  background: white;
  position: absolute;
  right: 0;
  display: none;
}

.box .section1 .user_list .s1_right .ul1 .li1 .hover2 a {
  font-size: 14px;
  display: block;
  padding: 15px 10px;
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.box .section1 .user_list .s1_right .ul1 .li1 .hover2 a:hover {
  color: blue;
}

.box .section1 .user_list .s1_right .ul1 .li1 .hover3 {
  width: 100%;
  height: 180px;
  border: 1px solid #ccc;
  background: white;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: none;
}

.box .section1 .user_list .s1_right .ul1 .li1 .hover3 img {
  width: 100%;
}

.box .section1 .user_list .s1_right .ul1 .li1 .hover4 {
  width: 200px;
  height: 130px;
  border: 1px solid #ccc;
  background: white;
  display: none;
  position: absolute;
  right: 0;
}

.box .section1 .user_list .s1_right .ul1 .li1 .hover4 a {
  display: block;
  padding: 10px 15px;
  float: left;
}

.box .section1 .user_list .s1_right .ul1 .li1 .hover4 a:hover {
  color: blue;
}

.box .section1 .user_list .s1_right .ul1 .li4:hover .hover4 {
  display: block;
}

.box .section1 .user_list .s1_right .ul1 .li3:hover .hover3 {
  display: block;
}

.box .section1 .user_list .s1_right .ul1 .li2:hover .hover2 {
  display: block;
}

.box .section1 .user_list .s1_right .ul1 .li1:hover .a1 {
  color: blue;
}

.box .section1 .user_list .s1_right .ul1 .li1:after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #888888;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.box .section1 .user_list .s1_right .ul1 .li1:last-child:after {
  display: none;
}

.box .section2 .topimg {
  height: 100px;
}

.box .section2 .topimg img {
  width: 100%;
  height: 100%;
}

.box .section2 .banner {
  height: 130px;
}

.box .section2 .banner .b1 {
  float: left;
  height: 100%;
}

.box .section2 .banner .b1 h1 {
  width: 230px;
  height: 100px;
  text-indent: -999px;
  background: url(./images/logo.png) no-repeat center center;
}

.box .section2 .banner .b1 p {
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}

.box .section2 .banner .b2 {
  margin-top: 40px;
  margin-left: 50px;
  float: left;
}

.box .section2 .banner .b2 input {
  border: 2px solid blue;
  width: 500px;
  height: 40px;
  font-size: 20px;
}

.box .section2 .banner .b2 span {
  display: block;
  width: 100px;
  height: 40px;
  background: blue;
  color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.box .section2 .banner .b2 ul li {
  float: left;
  padding: 1px 8px;
  font-size: 14px;
}

.box .section2 .banner .b2 ul li a:hover {
  color: blue;
}

.box .section2 .banner .b3 {
  float: left;
  margin-top: 40px;
  margin-left: 40px;
}

.box .section2 .banner .b3 .b3_b {
  background: skyblue;
  float: left;
  text-align: center;
  font-size: 12px;
  width: 60px;
  height: 40px;
}

.box .section2 .banner .b3 .b3_b img {
  display: inline-block;
  margin-top: 5px;
}

.box .section2 .banner .b3 h3 {
  width: 150px;
  height: 40px;
  background: blue;
  float: left;
  color: white;
  text-align: center;
  line-height: 40px;
}

.box .section3 .se3_top h2 {
  width: 180px;
  padding: 15px 0;
  background: blue;
  float: left;
  color: white;
  text-align: center;
}

.box .section3 .se3_top ul li {
  float: left;
  padding: 15px 26px;
}

.box .section3 .se3_top p {
  width: 260px;
  float: right;
  padding: 15px 0px;
  text-align: center;
  background: url(./images/phoneicon.png) no-repeat 5% center;
  font-size: 16px;
}

.box .section3 .context .img_left {
  width: 180px;
  height: 430px;
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
}

.box .section3 .context .se3_img {
  float: left;
}

.box .section3 .context .img_right {
  width: 240px;
  height: 430px;
  float: left;
  background: skyblue;
}

.center {
  width: 1180px;
  border: 1px solid orange;
  margin: 0 auto;
}
